@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.hidden{
    display: none;
}

/*------------Header and Footer---------------*/

header{
    top: 0; left: 0;
}
footer{
    bottom: 0; left:0;
    border-top: 1px rgba(#868686, 1) solid;
}
header, footer{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
button, input{
    background-color: white;
}
header ion-icon{
    font-size: 42px;
}
footer ion-icon {
    font-size: 26px;
}
footer input{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
footer form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div{
    display: flex;
    align-items: center;
}
header h4{
    font-size: 18px;
    font-weight: 500;
}

/*----------Aside-------------*/

aside{
    position: fixed;
    top: 0; right: -256px;
    height: 100vh;
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
    max-width: 259px;
}
aside h1{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 18,75px;

}
aside p{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}
aside > *{
    margin: 10px 0px;
}

aside ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
aside li{
    display: flex;
    align-items: center;
    margin: 4px 0px;
}
aside ion-icon{
    font-size: 20px;
    margin-right: 6px;
}

.aside-on{
    transition: 0.5s;
    top: 0; right: 0; 
}


/*--------main---------*/

main{
    padding: 83px 0px;
    background-color: #f8f8f8;
}

main li{
    display: flex;
    align-items: center;
    margin: 4px 0px;
    padding: 10px 8px;
}

main .message{
    background-color: white;
}
main .private_message{
    background-color: #FFDEDE;
}
main .status{
    background-color: #DCDCDC;
}

main li > *{
    margin: 0px 4px;
}

main li h2{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.40px;
}
main li h2 strong {
    font-weight: 700;
}
main h2 em {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #aaaaaa;
}
main li span{
    margin: 0px 6px;
}


